<!doctype html>
<html lang="en">
  <head>
    <title>Template page title</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
<body>
    <h1>Template page title</h1>
    <p>Parameter path: <span class="red">{{ template_param }}</span></p>
</body>
</html>

